<style>
  body {
    background-color: #cdcebd;
  }

  .content-block {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;

  }

  .main-header {
    margin-top: 100px;
    font-family: 'Vollkorn', serif;
    font-size: 3.5em;
    font-weight: normal;
    font-style: oblique;
  }

  .sub-header {
    font-family: 'Heebo', sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    font-style: oblique;
  }

  .lightbox {
    background-color: #e3e4d5;
    margin: 10px 30px;
    padding: 5px 2px;
    border-radius: 20px;
  }

  .cursive {
    font-family: 'Oregano', cursive;
    font-size: 2.0em;
    font-weight: normal;
    font-style: oblique;
  }

  .featured-img {
    margin-top: 10px;
    border: 10px solid #e3e4d5;
    border-radius: 50px;
    max-width: 400px;
  }
</style>

<div class="text-center">
  <div class="content-block">
    <h1 class="main-header">Merry Christmas Babe!</h1>
    <h2 class="sub-header">We now have a website!</h2>


    <div>
      In it's current state this page is nothing special...
      <br>
      but we can do <strong>WHATEVER</strong> we want with it!

      <div class="lightbox">
        - Want to write a couple's blog... <strong>DONE</strong>
        <br>
        - Want to use it to just post photos... <strong>DONE</strong>
        <br>
        - Want to just keep it for safekeeping... <strong>DONE</strong>
      </div>

    </div>


    <%= image_tag 'm-and-j-xmas', class: 'featured-img' %>

    <p class="cursive">I LOVE YOU!</p>
    <p class="cursive">- Michael</p>
  </div>
</div>
